/* General Body Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0; 
  margin: 0;
  padding: 20px;
  color: #333333; 
}

h1 {
  text-align: center;
  color: #4a148c; 
}

/* Form Styling */
#resume-form {
  width: 60%;
  margin: 20px auto;
  background-color: #ffffff; 
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

#resume-display img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

fieldset {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

legend h1 {
  font-size: 1.2em;
  color: #4a148c; 
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #444242; 
}


input , textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: #333333; 
}

/* Button Styling */
button {
  width: 100%;
  padding: 10px 15px;
  background: linear-gradient(135deg, #a3358b, #300230);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(135deg, #d4bccf, #6e1245);
}

/* Resume Display Styling */
#resume-display {
  width: 60%;
  margin: 20px auto;
  background: linear-gradient(135deg, #f0f4f8, #e077b8);
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  /* Making the resume editable */
  outline: none;
}

#resume-display h1, 
#resume-display h2{
  color: #4a148c; 
}

#resume-display p {
  margin-bottom: 10px;
  line-height: 1.5;
  color: #5e5a5a; 
}